
.hero{

}
.hero__contents{
text-align: center;
margin: 0 auto;
}
.hero__title{

}
.hero__text{

}
.hero__button{

}
// .colum{
//     border: 1px solid red
// }

// 
.h{
    font-size: 10px;
}
.m{
    background-color: aliceblue;
}